button {
  color: white;
  background-color: black;
  border: 2px solid black;
}

.center_div {
  margin-left: 20px;
  margin-top: 10px;
  width: 40%;
}

::placeholder {
  color: black;
}

input,
select,
textarea {
  color: black;
}

.button {
  color: white;
  border: 2px solid white;
  background-color: black;
  margin-top: 20px;
  margin-left: 20px;
}

input {
  border: 2px solid white;
}

form {
  margin-top: 15px;
  margin-left: 20px;
  width: 40%;
}

.inptsub {
  border: 2px solid white;
  background-color: black;
  color: white;
}

.table-borderedd {
  border: 1px solid #dee2e6;
}

.table-borderedd td,
.table-borderedd th {
  border: 1px solid #dee2e6;
}

.table-borderedd thead td,
.table-borderedd thead th {
  border-bottom-width: 2px;
}
